  <div class="container">
    <div><h1>Welcome :: {{Role}}-{{username}}</h1></div>
    <div><img [src]="photo" width="200px" height="200px" [border]="2"></div>
  <div class="row">
         <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
          <ul class="nav flex-column flex-nowrap overflow-hidden">
              <li class="nav-item">
                  <a class="nav-link text-truncate" routerLink="course"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Courses</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-truncate" routerLink="addcourse"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">New Courses</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="addmaterial"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">New Material</span></a>
            </li>
                          <li class="nav-item">
              <a class="nav-link text-truncate" routerLink="allstudents"><i class="fa fa-home"></i> <span class="d-none d-sm-inline"> Enquiry List</span></a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-truncate"routerLink="enrollist"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Enrollments</span></a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link text-truncate"routerLink="feedbacklist"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Feedback</span></a>
        </li>
          </ul>
      </div>
     
      <div class="col pt-2">
         <router-outlet></router-outlet>
      </div>
  </div>

  </div>