<div class="container">
    <h1>Edit Form</h1>
    <form [formGroup]="userForm" (ngSubmit)="Submit()">
             <div class="col-md-5 mx auto">
                <div class="form-group">
                    <label for="firstname">firstname</label><br>
                    <input type="text" class="form-control"  name="firstname" formControlName="firstname">
                    <div *ngIf="Firstname.errors && Firstname.touched" class="text-danger">
                        <p *ngIf="Firstname.errors['requied']">Firstname is required </p>
                        <p *ngIf="Firstname.errors['minlength']">min length =3</p>
                    </div>
                </div>

           <div class="FormGroup">
            <label for="lasstname">lastname</label><br>
            <input type="text" class="form-control"  name="lastname" formControlName="lastname">
            <div *ngIf="Lastname.errors && Lastname.touched" class="text-danger">
                <p *ngIf="Lastname.errors['requied']">Lastname is required </p>
                <p *ngIf="Lastname.errors['minlength']">min length =3</p>
            </div>
           </div>
        <div>
            <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Edit</button>
+
        </div>
        
        
        
    </div>  
    </form>
    </div>  