@page
@model RazorPagesDemo.Pages.Employees.IndexModel
@{
}
<div class="container">
    <h1> Employee List</h1>
    <ul>
        @foreach(string emp in Model.employeelist)
        {
            
    <li>@emp</li>

        }


    </ul>


</div>